
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-13ZXZEL9Y2"></script>
    <link rel="stylesheet" type="text/css" media="print" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="print"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link crossorigin="anonymous" media="print" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <style>
        i, a {
            color: black;
        }

        body {
            font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
        }

        /** {*/
        /*    line-height: 1.2;*/
        /*}*/

        .container {
            height: 6in;
            width: 4in;
            min-height: 6in !important;
            max-height: 6in !important;
            min-width: 4in !important;
            max-width: 4in !important;
            margin-left: 0
        }

        @media print {
            .page-break {
                page-break-after: always;
            }

            body {
                font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
            }

            .container {
                height: 6in;
                width: 4in;
            }

            .bg-danger {
                color: white !important;
                background-color: red !important;
            }

            .bg-dark {
                color: white !important;
                background-color: black !important;
            }

            @page {
                size: auto;
            }
        }

        #parent {
            display: flex;
            flex-direction: column;
        }

        #child {
            margin-top: auto;
            text-align: center;
        }
    </style>


    <meta charset="utf-8">

</head>
<body>
<div>
    <div class="page-break">
        <div class="row" style="padding: 0;margin-left: 15px;margin-top:15px;">
            <div class="col-6" style=";">
                <main class="container" role="main" style="border: 1px solid black; border-radius:10px ">
                    <div class="container" id="parent" style="line-height:1.2;margin-left:3px;">

                        <div class="row">
                            <div class="col-8" style="padding: 0;margin-left:-15px;">
                                <span class="font-weight-bold " style="font-size: 18px;">Архимаг</span>
                                <div style="font-size: 9px;"><span>гуманоид,Средний,любое мировоззрение</span></div>
                            </div>

                            <div class="col-4" style="padding: 0;margin-left:-18px;">
                                <div class="row">
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px; border-top-right-radius: 10px;">КД</div>
                                    <div class="w-100"></div>
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                        <span style="font-size: 14px;">99 </span>

                                    </div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                        <span style="font-size: 14px;">12</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-12">
                            <div class="row">
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">СИЛ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ЛОВ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ХАР</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ИНТ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">МУД</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                                <div class="w-100"></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>10(0)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>14(2)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>16(3)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>20(5)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>15(2)</span>)</div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                                    <span style="line-height:1.2;">Arcana +13, History +13</span>
                                </div>
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                                    <span style="line-height:1.2;"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row-6">
                                    <div class="row">
                                        <div style="font-size: 9px;padding-right:0; padding-left:0"><b>Языки:</b><span style="line-height:1.2;">любые 6</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Черты</b>
                            </div>
                        </div>
                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Сопротивление Магии</b>, Архимаг имеет преимущество в спасбросках против заклинаний и других магических эффектов.</div>
                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Заклинатель</b>, Архимаг - заклинатель 18 уровня. Его магические способности основываются на Интеллекте (сложность спасброска 17, +9 к атаке заклинаниями). Архимаг может колдовать Маскировку и Невидимость в любое время и у него
                                    подготовлены следующие заклинания Волшебника: , • Заговоры (по желанию):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/fire_bolt'> огненная стрела fire bolt</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/light'> свет light</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/mage_hand'> волшебная рука mage hand</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/prestidigitation'> фокусы prestidigitation</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/shocking_grasp'> электрошок shocking grasp</a></i>, • 1ый круг (4 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/detect_magic'> обнаружение магии detect magic</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/identify'> оценка identify</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/mage_armor'> доспехи мага mage armor</a></i>*,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/magic_missile'>
                                        магическая стрела magic missile</a></i>, • 2ой круг (3 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/detect_thoughts'> чтение мыслей detect thoughts</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/mirror_image'> зеркальное
                                        отражение mirror image</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/misty_step'> туманный шаг misty step</a></i>, • 3ий круг (3 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/counterspell'> контрзаклятье counterspell</a></i>,<i>
                                        <a href='https://dnd5-webapi.herokuapp.com/spells/fly'>полет fly</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/lightning_bolt'> молния lightning bolt</a></i>, • 4ый круг (3 слота):<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/banishment'> изгнание banishment</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/shield'> щит shield</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/stoneskin'> каменная кожа
                                        stoneskin</a></i>*, • 5ый круг (3 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/cone_of_cold'> конус холода cone of cold</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/scrying'> наблюдение scrying</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/wall_of_force'> силовая стена wall of force</a></i>, • 6ой круг (1 слот):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/globe_of_invulnerability'> сфера неуязвимости globe of invulnerability</a></i>, •
                                    7ой круг (1 слот):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/teleport'> телепортация teleport</a></i>, • 8ой круг (1 слот):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/mind_blank'> сокрытие разума mind blank</a></i>*, • 9ый круг (1 слот):<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/time_stop'> остановка времени time stop</a></i>, * Архимаг накладывает эти 3 заклинания перед битвой.
                                </div>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Действия</b>
                            </div>
                        </div>

                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"><b>Кинжал</b>|6|1d4+2, Рукопашное или Дальнобойное Оружие: +6 к атаке, досягаемость: 1 клетка или дальнобойное 4/12 клеток, одна цель. Попадание: 4 (1d4 + 2) колющего урона.</div>

                            </div>
                        </div>

                        <div class="row-12 " style="line-height: 1.0;margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="line-height: 1.0;margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"></div>
                            </div>
                        </div>

                        <div id="child" style="font-size: 9px;padding-right:40px; padding-left:0; padding-bottom:6px; text-align: center;">
                            <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                            <b>Скорость:</b> <span>6 клеток</span>, <b>Опасность:</b> <span>12</span>
                        </div>
                    </div>

                </main>
            </div>
            <div class="col-6" style=";">
                <main class="container" role="main" style="border: 1px solid black; border-radius:10px ">
                    <div class="container" id="parent" style="line-height:1.2;margin-left:3px;">

                        <div class="row">
                            <div class="col-8" style="padding: 0;margin-left:-15px;">
                                <span class="font-weight-bold " style="font-size: 18px;">Дроу Маг</span>
                                <div style="font-size: 9px;"><span>гуманоид,Средний,нейтрально-злое</span></div>
                            </div>

                            <div class="col-4" style="padding: 0;margin-left:-18px;">
                                <div class="row">
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px; border-top-right-radius: 10px;">КД</div>
                                    <div class="w-100"></div>
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                        <span style="font-size: 14px;">45 </span>

                                    </div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                        <span style="font-size: 14px;">12</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-12">
                            <div class="row">
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">СИЛ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ЛОВ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ХАР</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ИНТ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">МУД</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                                <div class="w-100"></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>9(-1)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>14(2)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>17(3)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>13(1)</span>)</div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>10(0)</span></div>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                                    <span style="line-height:1.2;">Arcana +6, Обман +5, Perception +4, Stealth +5</span>
                                </div>
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                                    <span style="line-height:1.2;">темнозрение 24 клетки</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row-6">
                                    <div class="row">
                                        <div style="font-size: 9px;padding-right:0; padding-left:0"><b>Языки:</b><span style="line-height:1.2;">Эльфийский, Подземный</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Черты</b>
                            </div>
                        </div>
                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Прирожденный Заклинатель</b>, Характеристика для заклинаний - Харизма (сложность спасброска 12). Он может врожденно колдовать следующие заклинания, без использования материальных компонентов: , По желанию:<i> <a
                                        href='https://dnd5-webapi.herokuapp.com/spells/dancing_lights'> танцующие огоньки dancing lights</a></i>, 1 раз в день каждое:<i> <a href='https://dnd5-webapi.herokuapp.com/spells/darkness'> тьма darkness</a></i>,<i> <a
                                        href='https://dnd5-webapi.herokuapp.com/spells/faerie_fire'> фейский огонь faerie fire</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/levitate'> левитация levitate</a></i></div>
                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Заклинатель</b>, Дроу заклинатель 10-го уровня. Его магические способности основываются на Интеллекте (сложность спасброска 14, +6 к атаке заклинаниями). У дроу подготовлены следующие заклинания Волшебника: , • Заговоры (по
                                    желанию):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/mage_hand'> волшебная рука mage hand</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/minor_illusion'> малая иллюзия minor illusion</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/poison_spray'> ядовитые брызги poison spray</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/ray_of_frost'> луч холода ray of frost</a></i>, • 1ый круг (4 слота):<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/mage_armor'> доспехи мага mage armor</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/magic_missile'> магическая стрела magic missile</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/shield'> щит shield</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/witch_bolt'> луч ведьмы witch bolt</a></i>, • 2ой круг (3 слота):<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/alter_self'> смена обличья alter self</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/misty_step'> туманный шаг misty step</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/web'>
                                        паутина web</a></i>, • 3ий круг (3 слота): <i> <a href='https://dnd5-webapi.herokuapp.com/spells/fly'>полет fly</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/lightning_bolt'> молния lightning bolt</a></i>, • 4ый круг (3 слота):<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/evard' s_black_tentacles'> черные щупальца эварда evard's black tentacles</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/invisibility'> невидимость invisibility</a></i>, • 5ый круг (2 слота):<i>
                                        <a href='https://dnd5-webapi.herokuapp.com/spells/cloudkill'> облако смерти cloudkill</a></i></div>
                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Светобоязнь</b>, Находясь на свету, дроу имеет помеху на броски атаки, а также на проверки Мудрости (Внимательность) которые полагаются на зрение.</div>
                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Наследие фей</b>, Дроу имеет преимущество в спасбросках против очарования, а также магия неспособна погрузить дроу в сон.</div>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Действия</b>
                            </div>
                        </div>

                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"><b>Одной рукой</b>|2|1d6-1+1d6, Двумя руками|2|1d8-1+1d6, Рукопашное Оружие: +2 к атаке, досягаемость: 1 клетка, одна цель. Попадание: 2 (1d6-1) дробящего урона, или 3 (1d8-1) дробящего урона если использует как двуручное, плюс 3 (1d6)
                                    урона ядом.
                                </div>

                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Призвать демона (раз в день)</b>, Дроу магически призывает куазита, или пытается призвать демона тени с 50 процентным шансом на успех. Призванный демон появляется в незанятом пространстве в пределах 12 клетки от призывающего, действует
                                    как союзник призывающего, и не может призывать других демонов. Призванный остается на 10 минут, до своей смерти, или смерти призывающего, либо пока призывающий не отпустит его использовав для этого основное действие.
                                </div>
                            </div>
                        </div>

                        <div class="row-12 " style="line-height: 1.0;margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="line-height: 1.0;margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"></div>
                            </div>
                        </div>

                        <div id="child" style="font-size: 9px;padding-right:40px; padding-left:0; padding-bottom:6px; text-align: center;">
                            <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                            <b>Скорость:</b> <span>6 клеток</span>, <b>Опасность:</b> <span>7</span>
                        </div>
                    </div>

                </main>
            </div>
        </div>
        <div class="row" style="padding: 0;margin-left: 15px;margin-top:15px;">
            <div class="col-6">
                <main class="container" role="main" style="border: 1px solid black; border-radius:10px ">
                    <div class="container" id="parent" style="line-height:1.2;margin-left:3px;">

                        <div class="row">
                            <div class="col-8" style="padding: 0;margin-left:-15px;">
                                <span class="font-weight-bold " style="font-size: 18px;">Маг</span>
                                <div style="font-size: 9px;"><span>гуманоид,Средний,любое мировоззрение</span></div>
                            </div>

                            <div class="col-4" style="padding: 0;margin-left:-18px;">
                                <div class="row">
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px; border-top-right-radius: 10px;">КД</div>
                                    <div class="w-100"></div>
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                        <span style="font-size: 14px;">40 </span>

                                    </div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                        <span style="font-size: 14px;">12</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-12">
                            <div class="row">
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">СИЛ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ЛОВ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ХАР</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ИНТ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">МУД</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                                <div class="w-100"></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>9(-1)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>14(2)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>11(0)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>17(3)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>12(1)</span>)</div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>11(0)</span></div>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                                    <span style="line-height:1.2;">Arcana +6, History +6</span>
                                </div>
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                                    <span style="line-height:1.2;"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row-6">
                                    <div class="row">
                                        <div style="font-size: 9px;padding-right:0; padding-left:0"><b>Языки:</b><span style="line-height:1.2;">any four languages</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Черты</b>
                            </div>
                        </div>
                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Заклинатель</b>, Маг - заклинатель 9-го уровня. Его магические способности основываются на Интеллекте (сложность спасброска 14, +6 к атаке заклинаниями). У мага подготовлены следующие заклинания Волшебника: , • Заговоры (по
                                    желанию):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/fire_bolt'> огненная стрела fire bolt</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/light'> свет light</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/mage_hand'>
                                        волшебная рука mage hand</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/prestidigitation'> фокусы prestidigitation</a></i>, • 1ый круг (4 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/detect_magic'> обнаружение магии detect
                                        magic</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/mage_armor'> доспехи мага mage armor</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/magic_missile'> магическая стрела magic missile</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/shield'> щит shield</a></i>, • 2ой круг (3 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/misty_step'> туманный шаг misty step</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/suggestion'> внушение suggestion</a></i>, • 3ий круг (3 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/counterspell'> контрзаклятье counterspell</a></i>,<i> <a
                                            href='https://dnd5-webapi.herokuapp.com/spells/fireball'> огненный шар fireball</a></i>, <i> <a href='https://dnd5-webapi.herokuapp.com/spells/fly'>полет fly</a></i>, • 4ый круг (3 слота):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/invisibility'>
                                        невидимость invisibility</a></i>,<i> <a href='https://dnd5-webapi.herokuapp.com/spells/ice_storm'> ледяной шторм ice storm</a></i>, • 5ый круг (1 слот):<i> <a href='https://dnd5-webapi.herokuapp.com/spells/cone_of_cold'> конус холода cone of cold</a></i></div>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Действия</b>
                            </div>
                        </div>

                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"><b></b>|5|1d4+2, Рукопашное или Дальнобойное Оружие: +5 к атаке, досягаемость: 1 клетка или дальнобойное 4/12 клетки, одна цель. Попадание: 4 (1d4 + 2) колющего урона.</div>

                            </div>
                        </div>

                        <div class="row-12 " style="line-height: 1.0;margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="line-height: 1.0;margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"></div>
                            </div>
                        </div>

                        <div id="child" style="font-size: 9px;padding-right:40px; padding-left:0; padding-bottom:6px; text-align: center;">
                            <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                            <b>Скорость:</b> <span>6 клеток</span>, <b>Опасность:</b> <span>6</span>
                        </div>
                    </div>

                </main>
            </div>
            <div class="col-6">
                <main class="container" role="main" style="border: 1px solid black; border-radius:10px ">
                    <div class="container" id="parent" style="line-height:1.2;margin-left:3px;">

                        <div class="row">
                            <div class="col-8" style="padding: 0;margin-left:-15px;">
                                <span class="font-weight-bold " style="font-size: 18px;">Магмин</span>
                                <div style="font-size: 9px;"><span>элементаль,Маленький,хаотично-нейтральное</span></div>
                            </div>

                            <div class="col-4" style="padding: 0;margin-left:-18px;">
                                <div class="row">
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px; border-top-right-radius: 10px;">КД</div>
                                    <div class="w-100"></div>
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                        <span style="font-size: 14px;">9 </span>

                                    </div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                        <span style="font-size: 14px;">14</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-12">
                            <div class="row">
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">СИЛ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ЛОВ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ХАР</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ИНТ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">МУД</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                                <div class="w-100"></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>7(-2)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>15(2)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>10(0)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>8(-1)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>11(0)</span>)</div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                                    <span style="line-height:1.2;"></span>
                                </div>
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                                    <span style="line-height:1.2;">темнозрение 12 клетки</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row-6">
                                    <div class="row">
                                        <div style="font-size: 9px;padding-right:0; padding-left:0"><b>Языки:</b><span style="line-height:1.2;">Огненный</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Черты</b>
                            </div>
                        </div>
                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"><b>Посмертный взрыв</b>||2d6, Когда магмин умирает, он взрывается вспышкой огня и магмы. Каждое существо в пределах 2 клетки от него должно сделать спасбросок со сложностью 11 по Ловкости. В случае неудачи существо получает 7 (2d6) урона
                                    огнем, и половину урона в случае успеха. Воспламеняющиеся объекты которые не надеты и не находятся в руках поджигаются.
                                </div>

                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Огненная Иллюминация</b>, Магмин может поджечь себя или потушить огонь на себе бонусным действием. Когда магмин горит, он светит ярким светом в радиусе 2 клетки и тусклым светом еще на 2 клетки</div>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Действия</b>
                            </div>
                        </div>

                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"><b>Прикосновение</b>|4|2d6, Рукопашное Оружие: +4 к атаке, досягаемость: 1 клетка, одна цель. Попадание: 7 (2d6) урона огнем. Если цель - существо или воспламеняющийся объект, она поджигается. Пока кто-нибудь не использует основное
                                    действие чтобы сбить огонь, существо получает 3 (1d6) урона огнем в конце каждого своего хода.
                                </div>

                            </div>
                        </div>

                        <div class="row-12 " style="line-height: 1.0;margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="line-height: 1.0;margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"></div>
                            </div>
                        </div>

                        <div id="child" style="font-size: 9px;padding-right:40px; padding-left:0; padding-bottom:6px; text-align: center;">
                            <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                            <b>Скорость:</b> <span>6 клеток</span>, <b>Опасность:</b> <span>1/2</span>
                        </div>
                    </div>

                </main>
            </div>
        </div>
    </div>
    <div class="page-break">
        <div class="row" style="padding: 0;margin-right: 15px;margin-top:15px;">
            <div class="col-6">
                <div class="container float-right" style="border: 1px solid black; border-radius:10px;display: flex;align-items: center;justify-content: center ">
                    <div class="form-row text-center">
                        <img style="max-height:6in;width:4in; display: block; margin: 0 auto;" class="rounded float-right" alt="Дроу Маг (Drow Mage)" src="/img/DROW_MAGE.jpg">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container float-right" style="border: 1px solid black; border-radius:10px;display: flex;align-items: center;justify-content: center ">
                    <div class="form-row text-center">
                        <img style="max-height:6in;width:4in; display: block; margin: 0 auto;" class="rounded float-right" alt="Архимаг (Archmage)" src="/img/ARCHMAGE.jpg">
                    </div>
                </div>
            </div>


        </div>
        <div class="row" style="padding: 0;margin-right: 15px;margin-top:15px;">
            <div class="col-6">
                <div class="container float-right" style="border: 1px solid black; border-radius:10px;display: flex;align-items: center;justify-content: center ">
                    <div class="form-row text-center">
                        <img style="max-height:6in;width:4in; display: block; margin: 0 auto;" class="rounded float-right" alt="Магмин (Magmin)" src="/img/MAGMIN.jpg">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container float-right" style="border: 1px solid black; border-radius:10px;display: flex;align-items: center;justify-content: center ">
                    <div class="form-row text-center">
                        <img style="max-height:6in;width:4in; display: block; margin: 0 auto;" class="rounded float-right" alt="Маг (Mage)" src="/img/MAGE.jpg">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div>
    <div class="page-break">
        <div class="row" style="padding: 0;margin-left: 15px;margin-top:15px;">
            <div class="col-6" style=";">
                <main class="container" role="main" style="border: 1px solid black; border-radius:10px ">
                    <div class="container" id="parent" style="line-height:1.2;margin-left:3px;">

                        <div class="row">
                            <div class="col-8" style="padding: 0;margin-left:-15px;">
                                <span class="font-weight-bold " style="font-size: 18px;">Магмовый мефит</span>
                                <div style="font-size: 9px;"><span>элементаль,Маленький,нейтрально-злое</span></div>
                            </div>

                            <div class="col-4" style="padding: 0;margin-left:-18px;">
                                <div class="row">
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px; border-top-right-radius: 10px;">КД</div>
                                    <div class="w-100"></div>
                                    <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                        <span style="font-size: 14px;">22 </span>

                                    </div>
                                    <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                        <span style="font-size: 14px;">11</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-12">
                            <div class="row">
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">СИЛ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ЛОВ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ХАР</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ИНТ</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">МУД</div>
                                <div class="col-2 bg-white text-danger" style="font-size: 9px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                                <div class="w-100"></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>8(-1)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>10(0)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>7(-2)</span></div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>10(0)</span>)</div>
                                <div class="col-2" style="font-size: 9px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                                    <span style="line-height:1.2;">Stealth +3</span>
                                </div>
                                <div class="row-6" style="font-size: 9px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                                    <span style="line-height:1.2;">темнозрение 12 клетки</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row-6">
                                    <div class="row">
                                        <div style="font-size: 9px;padding-right:0; padding-left:0"><b>Языки:</b><span style="line-height:1.2;">Огненный, Земляной</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Черты</b>
                            </div>
                        </div>
                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"><b>Посмертный взрыв</b>||2d6, Когда мефит умирает, он взырвается лавой. Каждое существо в пределах 1 клетки от него должно сделать спасбросок со сложностью 11 по Ловкости. В случае неудачи существо получает 7 (2d6) урона огнем, и половину
                                    урона в случае успеха.
                                </div>

                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Ложная Внешность</b>, Пока мефит остается неподвижным, он неотличим от обычной магмы.</div>
                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Прирожденный Заклинатель (раз в день)</b>, Мефит может врожденно колдовать<i> <a href='https://dnd5-webapi.herokuapp.com/spells/heat_metal'> раскаленный металл heat metal</a></i> (сложность спасброска 10), без использования
                                    материальных компонентов. Его врожденная характеристика для заклнинаний - Харизма.
                                </div>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="row" style="font-size: 9px; color: red">
                                <b>Действия</b>
                            </div>
                        </div>

                        <div class="row-12 " style="margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"><b>Когти</b>|3|1d4+1, Рукопашное Оружие: +3 к атаке, досягаемость: 1 клетка, одно существо. Попадание: 3 (1d4 + 1) рубящего урона плюс 2 (1d4) урона огнем.</div>

                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Огненное Дыхание (Перезарядка 6)</b>, Мефит выдыхает огонь конусом размером 3 клетки. Каждое существо в этой области должно бросить спасбросок со сложностью 11 по Ловкости. В случае неудачи существо получает 7 (2d6) урона огнем, и
                                    половину урона в случае успеха.
                                </div>
                            </div>
                            <div class="row-12" style="margin-left:-15px;font-size: 9px;">

                                <div style="line-height:1.2;"><b>Опционально: Призвать мефитов (раз в день)</b>, У мефита есть 25-ый шанс призвать 1d4 мефитов свого вида. Призванный мефит появляется в незанятом пространстве в пределах 12 клеток от призывающего, действует как союзник призывающего, и
                                    не может призывать других мефитов. Призванный существует 1 минуту, до своей смерти, или смерти призывающего, либо пока призывающий не отпустит его использовав для этого основное действие.
                                </div>
                            </div>
                        </div>

                        <div class="row-12 " style="line-height: 1.0;margin-left:-15px;font-size: 9px;margin-right:5px">
                            <div class="row-12" style="line-height: 1.0;margin-left:-15px;font-size: 9px;">
                                <div style="line-height:1.2;"></div>
                            </div>
                        </div>

                        <div id="child" style="font-size: 9px;padding-right:40px; padding-left:0; padding-bottom:6px; text-align: center;">
                            <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                            <b>Скорость:</b> <span>6 клеток, полет 6 клеток</span>, <b>Опасность:</b> <span>1/2</span>
                        </div>
                    </div>

                </main>
            </div>
        </div>
        <div class="row" style="padding: 0;margin-left: 15px;margin-top:15px;">

        </div>
    </div>
    <div class="page-break">
        <div class="row" style="padding: 0;margin-right: 15px;margin-top:15px;">


            <div class="col-6"></div>
            <div class="col-6">
                <div class="container float-right" style="border: 1px solid black; border-radius:10px;display: flex;align-items: center;justify-content: center ">
                    <div class="form-row text-center">
                        <img style="max-height:6in;width:4in; display: block; margin: 0 auto;" class="rounded float-right" alt="Магмовый мефит (Magma Mephit)" src="/img/MAGMA_MEPHIT.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 0;margin-right: 15px;margin-top:15px;">


        </div>
    </div>
</div>
</body>
</html>