<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-13ZXZEL9Y2"></script>
    <link rel="stylesheet" type="text/css" media="print" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="print"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link crossorigin="anonymous" media="print" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <style>
        body {
            font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
        }

        .container {
            height: 6in;
            width: 4in;
            min-height: 6in !important;
            max-height: 6in !important;
            min-width: 4in !important;
            max-width: 4in !important;
            margin-left: 0
        }

        @media print {
            .page-break {
                page-break-after: always;
            }

            body {
                font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
            }

            .container {
                height: 6in;
                width: 4in;
            }

            .bg-danger {
                color: white !important;
                background-color: red !important;
            }

            .bg-dark {
                color: white !important;
                background-color: black !important;
            }

            @page {
                size: auto;
            }
        }

        #parent {
            display: flex;
            flex-direction: column;
        }

        #child {
            margin-top: auto;
            text-align: center;
        }
    </style>


    <meta charset="utf-8">
    <title>Взрослый Зеленый Дракон (Adult Green Dragon)</title>

</head>
<body>
<div class="row" style="padding: 0;margin-left: 15px;margin-top:15px;">
    <div class="col-6">
        <main class="container page-break" role="main" style="border: 1px solid black; border-radius:10px ">
            <div class="container" id="parent">

                <div class="row">
                    <div class="col-8" style="padding: 0;margin-left:-15px;">
                        <span class="font-weight-bold " style="font-size: 18px;">Взрослый Зеленый Дракон (Adult Green Dragon)</span>
                        <div style="font-size: 10px;"><span>дракон,Огромный,законно-злое</span></div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                            <div class="col-6 bg-dark text-white" style="border-top-right-radius: 10px;font-size: 14px;">КД</div>
                            <div class="w-100"></div>
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                <span style="font-size: 14px;">207 </span>

                            </div>
                            <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                <span style="font-size: 14px;">19 </span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-12">
                    <div class="row">
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">СИЛ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ЛОВ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ХАР</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ИНТ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">МУД</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                        <div class="w-100"></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>23(6)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>17(3)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>18(4)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>15(2)</span>)</div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>21(5)</span></div>

                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                            <span>Deception +8, Insight +7, Perception +12, Persuasion +8, Stealth +6</span>
                        </div>
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                            <span>слепозрение 12 клеток, темнозрение 24 клеток</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row-6">
                            <div class="row">
                                <div style="font-size: 10px;padding-right:0; padding-left:0"><b>Языки:</b><span>Общий, Драконий</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Черты</b>
                    </div>
                </div>
                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Амфибия</b></div>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Легендарное Сопротивление (3/в день)</b></div>
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Действия</b>
                    </div>
                </div>

                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Мультиатака</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Укус</b>|11|2d10+6+2d6, Рукопашное Оружие: +11 к атаке, досягаемость: 2 клетки, одна цель. Попадание: 17 (2d10 + 6) колющего урона плюс 7 (2d6) урона ядом.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Когти</b>|11|2d6+6, Рукопашное Оружие: +11 к атаке, досягаемость: 1 клетка, одна цель. Попадание: 13 (2d6 + 6) рубящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Хвост</b>|11|2d8+6, Рукопашное Оружие: +11 к атаке, досягаемость 3 клетки, одна цель. Попадание: 15 (2d8 + 6) дробящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Ужасающая Внешность</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Ядовитое Дыхание</b>||16d6, Дракон выдыхает ядовитый газ конусом размером 12 клеток. Каждое существо в этой области должно бросить спасбросок со сложностью 18 по Телосложению. В случае неудачи существо получает 56 (16d6) урона ядом , и половину урона в случае успеха.</span>

                    </div>
                </div>
                <div id="child" style="font-size: 10px;padding-right:40px; padding-left:0; text-align: center;">
                    <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                    <b>Скорость:</b> <span>8 клеток, полет 16 клеток, плавание 8 клеток</span>, <b>Опасность:</b> <span>15</span>
                </div>
            </div>

        </main>
    </div>
    <div class="col-6">
        <main class="container page-break" role="main" style="border: 1px solid black; border-radius:10px ">
            <div class="container" id="parent">

                <div class="row">
                    <div class="col-8" style="padding: 0;margin-left:-15px;">
                        <span class="font-weight-bold " style="font-size: 18px;">Взрослый Зеленый Дракон (Adult Green Dragon)</span>
                        <div style="font-size: 10px;"><span>дракон,Огромный,законно-злое</span></div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                            <div class="col-6 bg-dark text-white" style="border-top-right-radius: 10px;font-size: 14px;">КД</div>
                            <div class="w-100"></div>
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                <span style="font-size: 14px;">207 </span>

                            </div>
                            <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                <span style="font-size: 14px;">19 </span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-12">
                    <div class="row">
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">СИЛ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ЛОВ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ХАР</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ИНТ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">МУД</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                        <div class="w-100"></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>23(6)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>17(3)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>18(4)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>15(2)</span>)</div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>21(5)</span></div>

                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                            <span>Deception +8, Insight +7, Perception +12, Persuasion +8, Stealth +6</span>
                        </div>
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                            <span>слепозрение 12 клеток, темнозрение 24 клеток</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row-6">
                            <div class="row">
                                <div style="font-size: 10px;padding-right:0; padding-left:0"><b>Языки:</b><span>Общий, Драконий</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Черты</b>
                    </div>
                </div>
                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Амфибия</b></div>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Легендарное Сопротивление (3/в день)</b></div>
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Действия</b>
                    </div>
                </div>

                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Мультиатака</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Укус</b>|11|2d10+6+2d6, Рукопашное Оружие: +11 к атаке, досягаемость: 2 клетки, одна цель. Попадание: 17 (2d10 + 6) колющего урона плюс 7 (2d6) урона ядом.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Когти</b>|11|2d6+6, Рукопашное Оружие: +11 к атаке, досягаемость: 1 клетка, одна цель. Попадание: 13 (2d6 + 6) рубящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Хвост</b>|11|2d8+6, Рукопашное Оружие: +11 к атаке, досягаемость 3 клетки, одна цель. Попадание: 15 (2d8 + 6) дробящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Ужасающая Внешность</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Ядовитое Дыхание</b>||16d6, Дракон выдыхает ядовитый газ конусом размером 12 клеток. Каждое существо в этой области должно бросить спасбросок со сложностью 18 по Телосложению. В случае неудачи существо получает 56 (16d6) урона ядом , и половину урона в случае успеха.</span>

                    </div>
                </div>
                <div id="child" style="font-size: 10px;padding-right:40px; padding-left:0; text-align: center;">
                    <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                    <b>Скорость:</b> <span>8 клеток, полет 16 клеток, плавание 8 клеток</span>, <b>Опасность:</b> <span>15</span>
                </div>
            </div>

        </main>
    </div>
</div>

<div class="row" style="padding: 0;margin-left: 15px;margin-top:15px;">
    <div class="col-6">
        <main class="container page-break" role="main" style="border: 1px solid black; border-radius:10px ">
            <div class="container" id="parent">

                <div class="row">
                    <div class="col-8" style="padding: 0;margin-left:-15px;">
                        <span class="font-weight-bold " style="font-size: 18px;">Взрослый Зеленый Дракон (Adult Green Dragon)</span>
                        <div style="font-size: 10px;"><span>дракон,Огромный,законно-злое</span></div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                            <div class="col-6 bg-dark text-white" style="border-top-right-radius: 10px;font-size: 14px;">КД</div>
                            <div class="w-100"></div>
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                <span style="font-size: 14px;">207 </span>

                            </div>
                            <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                <span style="font-size: 14px;">19 </span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-12">
                    <div class="row">
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">СИЛ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ЛОВ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ХАР</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ИНТ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">МУД</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                        <div class="w-100"></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>23(6)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>17(3)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>18(4)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>15(2)</span>)</div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>21(5)</span></div>

                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                            <span>Deception +8, Insight +7, Perception +12, Persuasion +8, Stealth +6</span>
                        </div>
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                            <span>слепозрение 12 клеток, темнозрение 24 клеток</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row-6">
                            <div class="row">
                                <div style="font-size: 10px;padding-right:0; padding-left:0"><b>Языки:</b><span>Общий, Драконий</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Черты</b>
                    </div>
                </div>
                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Амфибия</b></div>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Легендарное Сопротивление (3/в день)</b></div>
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Действия</b>
                    </div>
                </div>

                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Мультиатака</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Укус</b>|11|2d10+6+2d6, Рукопашное Оружие: +11 к атаке, досягаемость: 2 клетки, одна цель. Попадание: 17 (2d10 + 6) колющего урона плюс 7 (2d6) урона ядом.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Когти</b>|11|2d6+6, Рукопашное Оружие: +11 к атаке, досягаемость: 1 клетка, одна цель. Попадание: 13 (2d6 + 6) рубящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Хвост</b>|11|2d8+6, Рукопашное Оружие: +11 к атаке, досягаемость 3 клетки, одна цель. Попадание: 15 (2d8 + 6) дробящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Ужасающая Внешность</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Ядовитое Дыхание</b>||16d6, Дракон выдыхает ядовитый газ конусом размером 12 клеток. Каждое существо в этой области должно бросить спасбросок со сложностью 18 по Телосложению. В случае неудачи существо получает 56 (16d6) урона ядом , и половину урона в случае успеха.</span>

                    </div>
                </div>
                <div id="child" style="font-size: 10px;padding-right:40px; padding-left:0; text-align: center;">
                    <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                    <b>Скорость:</b> <span>8 клеток, полет 16 клеток, плавание 8 клеток</span>, <b>Опасность:</b> <span>15</span>
                </div>
            </div>

        </main>
    </div>
    <div class="col-6">
        <main class="container page-break" role="main" style="border: 1px solid black; border-radius:10px ">
            <div class="container" id="parent">

                <div class="row">
                    <div class="col-8" style="padding: 0;margin-left:-15px;">
                        <span class="font-weight-bold " style="font-size: 18px;">Взрослый Зеленый Дракон (Adult Green Dragon)</span>
                        <div style="font-size: 10px;"><span>дракон,Огромный,законно-злое</span></div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">ХП</div>
                            <div class="col-6 bg-dark text-white" style="border-top-right-radius: 10px;font-size: 14px;">КД</div>
                            <div class="w-100"></div>
                            <div class="col-6 bg-danger text-white text-center" style="font-size: 14px;">
                                <span style="font-size: 14px;">207 </span>

                            </div>
                            <div class="col-6 bg-dark text-white" style="font-size: 14px;">
                                <span style="font-size: 14px;">19 </span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-12">
                    <div class="row">
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">СИЛ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ЛОВ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ХАР</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ИНТ</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">МУД</div>
                        <div class="col-2 bg-white text-danger" style="font-size: 10px;padding-right: 0; padding-left: 0">ТЕЛ</div>
                        <div class="w-100"></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>23(6)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>12(1)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>17(3)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>18(4)</span></div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>15(2)</span>)</div>
                        <div class="col-2" style="font-size: 10px;padding-right: 0; padding-left: 0"><span>21(5)</span></div>

                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:-15px;">
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Навыки:</b>
                            <span>Deception +8, Insight +7, Perception +12, Persuasion +8, Stealth +6</span>
                        </div>
                        <div class="row-6" style="font-size: 10px;padding-right: 0; padding-left: 0;margin-left:0px;"><b>Чувства:</b>
                            <span>слепозрение 12 клеток, темнозрение 24 клеток</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row-6">
                            <div class="row">
                                <div style="font-size: 10px;padding-right:0; padding-left:0"><b>Языки:</b><span>Общий, Драконий</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Черты</b>
                    </div>
                </div>
                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Амфибия</b></div>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <div><b>Легендарное Сопротивление (3/в день)</b></div>
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="row" style="font-size: 10px; color: red">
                        <b>Действия</b>
                    </div>
                </div>

                <div class="row-12 mt-1" style="margin-left:-15px;font-size: 10px;">
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Мультиатака</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Укус</b>|11|2d10+6+2d6, Рукопашное Оружие: +11 к атаке, досягаемость: 2 клетки, одна цель. Попадание: 17 (2d10 + 6) колющего урона плюс 7 (2d6) урона ядом.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Когти</b>|11|2d6+6, Рукопашное Оружие: +11 к атаке, досягаемость: 1 клетка, одна цель. Попадание: 13 (2d6 + 6) рубящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Хвост</b>|11|2d8+6, Рукопашное Оружие: +11 к атаке, досягаемость 3 клетки, одна цель. Попадание: 15 (2d8 + 6) дробящего урона.</span>

                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">

                        <span><b>Ужасающая Внешность</b></span>
                    </div>
                    <div class="row-12" style="margin-left:-15px;font-size: 10px;">
                        <span><b>Ядовитое Дыхание</b>||16d6, Дракон выдыхает ядовитый газ конусом размером 12 клеток. Каждое существо в этой области должно бросить спасбросок со сложностью 18 по Телосложению. В случае неудачи существо получает 56 (16d6) урона ядом , и половину урона в случае успеха.</span>

                    </div>
                </div>
                <div id="child" style="font-size: 10px;padding-right:40px; padding-left:0; text-align: center;">
                    <hr align="center" size="1" color="#ff0000" style="margin-left: -20px; margin-right:-20px;margin-bottom:3px; margin-top:3px"/>
                    <b>Скорость:</b> <span>8 клеток, полет 16 клеток, плавание 8 клеток</span>, <b>Опасность:</b> <span>15</span>
                </div>
            </div>

        </main>
    </div>
</div>
<div>
    <div class="container float-right" style="border: 1px solid black; border-radius:10px;display: flex;align-items: center;justify-content: center ">
        <div class="form-row text-center">
            <img style="vertical-align: middle ;max-height:6in;width:4in; display: block; margin: 0 auto;" class="rounded float-right" alt="Взрослый Зеленый Дракон (Adult Green Dragon)" src="http://127.0.0.1:8181/img/ADULT_GREEN_DRAGON.jpg">
        </div>
    </div>
</div>

</body>
</html>